@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #D9D9D9;
}

.smallplease {
  max-height: 100px;
}

.width100 {
  max-width: 150px;
}

.width299 {
  width: 300px;
}

.caropic {
  height: 400px;
  margin: 0;
  border: 1px solid black;
}

.carousel {
  width: 400px;
  background-color: #D9D9D9;
  align-self: center;
  justify-self: center;
}

.small-text {
  font-size: 12px;
}

.big-text {
  font-size: 15px;
}

.outfit-item-card-body {
  padding: 5px;
}

.item-dropd {
  width: 400px;
  align-self: center;
  justify-self: center;
}

.cflex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.cflexnowrap {
  display: flex;
  flex-direction: column;
}

.rflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rflexnowrap {
  display: flex;
  flex-direction: row;
}

.light-border {
  border: 1px solid black;
}

.cap-input {
  margin: 0;
}

.margin5 {
  margin: 5px;
}

.margin15 {
  margin:80px;
}

.center {
  align-items: center;
  justify-content: center;
}

.cleft {
  align-items: start;
}

.cright {
  align-items: end;
}

.toast {
  position: absolute;
}

.toast-btn {
  background-color: #D9D9D9;
  color: rgb(157, 156, 156);
  border: none;
};

.toast-cont {
  width: 1200px;
}

.form-input-500 {
  width: 500px;
}

.toast-head {
  width: 680px;
}

.fit-content-w {
  width: fit-content;
}

.fit-content-h {
  height: fit-content;
}

.outfit-toast {
  width: 700px;
  padding: 10px;
}

.center-me {
  align-self: center;
  justify-self: center;
}

.centered {
  justify-self: center;
  align-self: center;
}

.home-btn {
  text-shadow: 1px 1px #a0c9d7;
}

.home-btn:hover {
  color: rgb(37, 193, 255);
  font-style: italic;
  text-shadow: 1px 1px #8de1ff;
}

.flex {
  display: flex;
}
/* NAV BAR */
.logo-title {
  font-family: 'racing sans one', sans-serif;
  font-size: 70px;
}

.nav-link {
  font-family: 'dm sans';
  font-size: 20px;
  margin: 10px;
  align-self: center;
  justify-self: center;
}

.nav-link:hover {
  color: white;
  font-family: 'racing sans one';
  font-size: 28px;
  margin: 2px;
}

/* FONTS ❊ ✴︎ ❤︎ ☆ */
/* archivo, dm sans, quicksand */

.akaya {
  font-family: 'Akaya Telivigala', cursive;
}
.archivo {
  font-family: 'Archivo', sans-serif;
  font-weight: bolder;
}
.audiowide {
  font-family: 'Audiowide', cursive;
}
.chango {
  font-family: 'Chango', cursive;
}
.cherry-bomb {
  font-family: 'Cherry Bomb One', cursive;
}
.cute-font {
  font-family: 'Cute Font', cursive;
}
.dm-sans {
  font-family: 'DM Sans', sans-serif;
}
.dot-gothic {
  font-family: 'DotGothic16', sans-serif;
}
.fjalla {
  font-family: 'Fjalla One', sans-serif;
}
.fugaz {
  font-family: 'Fugaz One', cursive;
}
.handjet {
  font-family: 'Handjet', cursive;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.inter-tight {
  font-family: 'Inter Tight', sans-serif;
}
.manjari {
  font-family: 'Manjari', sans-serif;
}
.monomaniac {
  font-family: 'Monomaniac One', sans-serif;
}
.orbitron {
  font-family: 'Orbitron', sans-serif;
}
.oxanium {
  font-family: 'Oxanium', cursive;
}
.press-start {
  font-family: 'Press Start 2P', cursive;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.racing-sans {
  font-family: 'Racing Sans One', cursive;
}
.righteous {
  font-family: 'Righteous', cursive;
}
.silkscreen {
  font-family: 'Silkscreen', cursive;
}
.spline-sans {
  font-family: 'Spline Sans', sans-serif;
}
.syne-mono {
  font-family: 'Syne Mono', monospace;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.font30 {
  font-size: 70px;
}

.font35 {
  font-size: 30px;
}

.font50 {
  font-size: 50px;
}

.font20 {
  font-size: 20px;
}

.font100 {
  font-size: 250px;
  color: #D9D9D9;
}

.outfit-card {
  width: 1000px;
}

.width300 {
  width: 350px;
}

.copy-btn {
  border-radius: 50px;
  background-color: #D9D9D9;
}

.outfit-card-title:hover {
  color: rgb(37, 187, 251);
  font-family: 'archivo';
  font-style: italic;
}

.edit-btn {
  background-color: white;
  border: none;
  color: black;
  font-family: 'Archivo', sans-serif;
  border-radius: 1px;
  font-size: 16px;
}

.box-border {
  border-radius: 1px;
}

.borderline {
  border: 1px solid black;
}

.edit-btn:hover {
  border: 1px solid black;
  font-style: oblique;
}

/*  MEDIA - apply styles when screen size is 500px or smaller */
@media (max-width: 500px) {
  .edit-btn {
    font-size: 12px;
  }
  .item-card {
    max-width: 150px;
  }
  .title-text {
    font-size: 15px;
  }
  .body-text {
    font-size: 10px;
  }
  .outfit-card {
    width: 20.5rem;
  }
  .outfit-toast {
    width: 350px;
  }
  .toast-head {
    width:330px;
  }
  .carousel {
    width: 350px;
  }
  .caropic {
    height: 200px;
  }
  .item-dropd {
    width: 350px;
  }
  .font100 {
    font-size: 70px;
  }
  .form-input-500 {
    width: 300px;
  }
  .font30 {
    font-size: 32px;
  }
  .font35 {
    font-size: 25px;
  }
  .width299 {
    width: 100px;
  }
  .width100 {
    width: 90px;
  }
}

.absolute {
  position: absolute;
}

.toast-vid {
  z-index: 1000;
}

.fixed {
  position:fixed;
}

.sign-in-body {
  background-color: rgb(18, 18, 18);
}

/* white star  */
.cursor5 {
  cursor: url(https://cur.cursors-4u.net/symbols/sym-6/sym597.cur), auto !important;
} 

/* coke can  */
.cursor6 {
  cursor: url(https://cur.cursors-4u.net/food/foo-7/foo625.cur), auto !important;
} 

/* https://i.etsystatic.com/46227257/r/il/a400d4/5289730391/il_794xN.5289730391_3u4r.jpg */

/* sparkly blue  */
.cursor2 {
  cursor: url(https://cur.cursors-4u.net/cursors/cur-1/cur8.ani), url(https://cur.cursors-4u.net/cursors/cur-1/cur8.png), auto !important;
} 

/* apple  */
.cursor1 {
  cursor: url("https://downloads.totallyfreecursors.com/cursor_files/appletm.cur"), url("https://downloads.totallyfreecursors.com/thumbnails/apple-tm.gif"), auto !important;}
/* classic */
.cursor {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=170652), auto !important;
}

/* fashion girl  */
.cursor3 {
  cursor: url(https://cur.cursors-4u.net/special/spe-2/spe191.ani), url(https://cur.cursors-4u.net/special/spe-2/spe191.png), auto !important;
}

/* smiley */
/* * {cursor: url(https://cur.cursors-4u.net/smilies/smi-1/smi28.cur), auto !important;}  */
