@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #D9D9D9;
}

.smallplease {
  max-height: 100px;
}

.width100 {
  max-width: 100px;
}

.small-text {
  font-size: 12px;
}

.outfit-item-card-body {
  padding: 5px;
}

.cflex {
  display: flex;
  flex-direction: column;
}

.rflex {
  display: flex;
  flex-direction: row;
}

.margin5 {
  margin: 5px;
}
