@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #D9D9D9;
}

.smallplease {
  max-height: 100px;
}

.width100 {
  max-width: 100px;
}

.caropic {
  height: 400px;
  margin: 0;
  border: 1px solid black;
}

.carousel {
  width: 400px;
  background-color: #D9D9D9;
  align-self: center;
  justify-self: center;
}

.small-text {
  font-size: 12px;
}

.outfit-item-card-body {
  padding: 5px;
}

.item-dropd {
  width: 400px;
  align-self: center;
  justify-self: center;
}

.cflex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cflexnowrap {
  display: flex;
  flex-direction: column;
}

.rflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rflexnowrap {
  display: flex;
  flex-direction: row;
}

.margin5 {
  margin: 5px;
}

.center {
  align-items: center;
  justify-content: center;
}

.cleft {
  align-items: start;
}

.cright {
  align-items: end;
}

.toast {
  position: absolute;
}

.toast-btn {
  background-color: #D9D9D9;
  color: rgb(157, 156, 156);
  border: none;
};

.centered {
  justify-self: center;
  align-self: center;
}

.flex {
  display: flex;
}
/* NAV BAR */
.logo-title {
  font-family: 'racing sans one', sans-serif;
  font-size: 70px;
}

.nav-link {
  font-family: 'dm sans';
  font-size: 20px;
  margin: 10px;
  align-self: center;
  justify-self: center;
}

.nav-link:hover {
  color: white;
  font-family: 'racing sans one';
  font-size: 28px;
  margin: 2px;
}

/* FONTS ❊ ✴︎ ❤︎ ☆ */
/* archivo, dm sans, quicksand */

.akaya {
  font-family: 'Akaya Telivigala', cursive;
}
.archivo {
  font-family: 'Archivo', sans-serif;
}
.audiowide {
  font-family: 'Audiowide', cursive;
}
.bruno {
  font-family: 'Bruno Ace', cursive;
}
.chango {
  font-family: 'Chango', cursive;
}
.cherry-bomb {
  font-family: 'Cherry Bomb One', cursive;
}
.cute-font {
  font-family: 'Cute Font', cursive;
}
.dm-sans {
  font-family: 'DM Sans', sans-serif;
}
.dot-gothic {
  font-family: 'DotGothic16', sans-serif;
}
.fjalla {
  font-family: 'Fjalla One', sans-serif;
}
.fugaz {
  font-family: 'Fugaz One', cursive;
}
.handjet {
  font-family: 'Handjet', cursive;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.inter-tight {
  font-family: 'Inter Tight', sans-serif;
}
.manjari {
  font-family: 'Manjari', sans-serif;
}
.monomaniac {
  font-family: 'Monomaniac One', sans-serif;
}
.orbitron {
  font-family: 'Orbitron', sans-serif;
}
.oxanium {
  font-family: 'Oxanium', cursive;
}
.press-start {
  font-family: 'Press Start 2P', cursive;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.racing-sans {
  font-family: 'Racing Sans One', cursive;
}
.righteous {
  font-family: 'Righteous', cursive;
}
.silkscreen {
  font-family: 'Silkscreen', cursive;
}
.spline-sans {
  font-family: 'Spline Sans', sans-serif;
}
.syne-mono {
  font-family: 'Syne Mono', monospace;
}

.italic {
  font-style: italic;
}

.font30 {
  font-size: 70px;
}
